# Ignore generated NPM files
node_modules/

# Ignore generated Maven build files
target/

# Ignore editor config
.idea

# Ignore generated build files
portfolio/src/main/webapp/generated-files/

#Ignore error files
test-results.txt