body {
  background: #fffefd;
  font-family: 'Oxygen', sans-serif;
  margin: 5px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

h2 {
  text-align: left;
}

#nav {
  background: #383b5c;
  display: flex;
  justify-content: center;
}

#about {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

#quote-container {
  border: 1px solid;
  border-radius: 8px;
  font: bold 18px 'Cormorant Upright', serif;
  padding: 15px;
}

#map {
  height: 500px;
}

#new-comment-form {
  display: none;
}
